.bordecito {
    border:  1px dotted blueviolet;
    
    padding-left: 5px;
    padding-right: 5px;
    color: violet;
}
p {
    color: cadetblue;
}
a {
    color: rgb(50, 104, 205);
    text-decoration: none;

}
a:hover {
    color: rgb(56, 173, 20);
    font-size: large;
}
#curas {
    color: purple;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
.varVirus {
    font-size: 2em;
    color: green;

}
#contenido {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: rgb(197, 180, 216);

}
.bloque_izquierda {
    display: inline-block;
    width: 40%;
}
.bloque_derecha {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 40%;
    padding-right: 45px;
}
ul ul {
    list-style: square;
    
}
#horizontal ul li{
    display: inline-block;
    text-decoration: none;
}