h1{
    color: slateblue;
}
h2, h3 {
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    text-indent: 2%;
}
/* Utilizar modificadores de fuente, estilo font-style y ancho font-weight*/
p {
    font-weight: lighter;
    font-style: oblique;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
section p {
    font-size: 1.2em;
    font-weight: 200;
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
    
}
table td {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-variant: small-caps;
    text-transform: lowercase;
    text-decoration: dashed;
}