h1{
    color: slateblue;
}
h2, h3 {
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    text-indent: 2%;
}
/* Utilizar modificadores de fuente, estilo font-style y ancho font-weight*/
p {
    font-weight: lighter;
    font-style: oblique;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}